# This config file is used to deploy a dedicated node in the overcloud for ceph
undercloud_memory: 48288
undercloud_vcpu: 8
undercloud_disk: 100

default_disk: 40
default_vcpu: 4
default_memory: 12240

ceph_disk: 30
ceph_vcpu: 2
extradisks_size: '{{ ceph_disk }}'

# Define a controller node, a compute node, and a ceph node.
overcloud_nodes:
  - name: control_0
    flavor: control
    virtualbmc_port: 6230

  - name: compute_0
    flavor: compute
    virtualbmc_port: 6231
  
  - name: compute_1
    flavor: compute
    virtualbmc_port: 6232

  - name: ceph_0
    flavor: ceph
    virtualbmc_port: 6233

node_count: 4

# Tell tripleo which nodes to deploy.
topology_map:
  Controller:
    scale: 1
    flavor: oooq_control
  Compute:
    scale: 2
    flavor: oooq_compute
  CephStorage:
    scale: 1
    flavor: oooq_ceph

network_isolation: true
network_isolation_type: 'single-nic-vlans'